<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>

        <div>
            <a href='/logout'>log out</a>
            /
            <a href='/login'>login</a>
        </div>
    
    <div>
        <a href='/blog'>Main Blog</a>
    /  
        <a href='/newpost'>New Blog Posts</a>
    </div>
    <div><a href='/'>Home</a></div>

    


    {% block content %}
    {% endblock %}

</body>
</html>